<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Brewery</title>
    <link rel="stylesheet" href="styles/main.css" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

  <section id="header">
    <h1>Book Brewery</h1>
    <p id="subtitle">Explore. Discover. Review</p>
    <div class="box">
      <h3>Welcome to Book Brewery </h3>
      <p>Dive into the world of literature with our comprehensive book reviews and notes. Whether you're seeking your next literary adventure or looking to revisit old favorites, Book Brewery is your trusted companion on your reading journey. At Book Brewery, we believe in the transformative power of words, the magic woven into the fabric of every story, and the profound impact a book can have on our lives. With this ethos at our core, we've curated a diverse collection of reviews, notes, and reflections, inviting you to explore the boundless universe of books with us.</p>
    </div>
    
  </section>

  <section id="main-content">

    <h2> Featured Books</h2>
    
    <div class="cont">
      <% let i=0; %>
      <%for( let book of bookItems){ %>

        <div class="bookdesc">
          <div class="bookdesc_img">
            <img src="<%= imgurl[i] %>">
          </div>
          <div class="bookdesc_cont">
           <h3><%= book.title %></h3>
           <label>Rating:  <%= book.rating %>/5</label>
           <p> <%= book.description %></p>
           <% i=i+1; %>
           <div class="buttons">
           <form action="/edit" method="post">
            <button type="submit" name="edititem_id" value="<%= book.id %>">Edit</button>
          </form>
          <form action="/delete" method="post">
              <button type="submit" name="deleteitem_id" value="<%= book.id %>" >Delete</button>
          </form>
        </div>
          </div>
        </div>
              
      <%}%>
    </div>
    
  </section>

  <section id="addbook">
    <h2>Submit your review</h2>
    <p>Love sharing your thoughts on books? Contribute to our vibrant literary community by submitting your book reviews! Your insights could inspire fellow readers and help them discover their next favorite read. Join us in celebrating the magic of literature. Submit your review today!</p>
    <div class="addbook-form"> 
      <form action="/add" method="post">
        <table>
          <tr>
            <td><label>Enter Book isbn number:</label></td>
            <td><input type="text" name="isbn_no"></td>
          </tr>
          <tr>
            <td><label>Enter Title of the book:</label></td>
            <td><input type="text" name="book_title"></td>
          </tr>
          <tr>
            <td><label>Rate the book out of 5:</label></td>
            <td><input type="text" name="book_rating"></td>
          </tr>
          <tr>
            <td><label>Description:</label></td>
            <td><textarea type="text" name="book_desc" rows="5"></textarea></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><button type="submit">Add</button></td>
          </tr>
        </table>
       </form>
    </div>
    
  </section>
 
  
   

   
</body>
</html>